@charset "utf-8";

.container {
    margin: 0 auto;
    width: 1280px;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.body {
    height: 3000px;
}

.feildset {
    border: 0;
}

#layer1 {
    display: none;
    top: 40px;
    left: 0;
    border: 1px solid #efefef;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 1rem;
    background-color: rgb(246, 249, 253);
    width: 370px;

}

.scroll {
    overflow-y: scroll;
    width: 355px;
    height: 700px;
}

.layer-title {
    font-size: 22px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.login-btn {
    cursor: pointer;
    width: 108px;
}

.login-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.lg-icon {
    width: 80px;
}

.full-sv {
    width: 330px;

}

.service {

}

.sv-icons {
    display: flex;
    width: 130px;
    height: 35px;
    align-items: center;
    gap: 5px;
}

.sv-content {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 1rem;
    border: 1px solid lightblue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sv-title {
    height: 40px;
    background-color: lightblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-indent: 15px;
    display: flex;
    align-items: center;
}

.search {
    border: 2px solid rgb(17, 250, 17);
    width: 50%;
    margin: 0 auto;
    padding: 1rem;  
}

#search_input {
    border: 0;
    outline: 0;
    width: 90%;
}

#search_btn {
    margin-left: auto;
}
